.btn-dec {
  font-size: 0.8rem;
  font-family: Ubuntu;
  color: #fff;
  background: transparent;
  border-radius: 25px;
  margin-inline: 12px;
  padding: 5px 40px;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
  animation: Anim 1s ease-in-out infinite;
}

.btn-dec:hover {
  transform: translateY(-5px);
  background-color: rgb(242 246 215);
  color: #1c1c1c;
}
