@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@500&family=Ubuntu:wght@300&display=swap");

/* Css variable */
:root {
  --primary-app-color: #02203c;
  --secondary-app-color: #001528;
  --nav-items-color: #ffff;
  --standout-color: #fffb00;
}

a {
  text-decoration: none;
}

.App {
}

* {
  padding: 0px;
  margin: 0px;
}

.herosection {
  /* background: linear-gradient(-90deg, #02203c, #001528); not using this
                made a css variable */
  background: linear-gradient(
    -90deg,
    var(--primary-app-color),
    var(--secondary-app-color)
  );
  clip-path: polygon(0 0, 100% 0, 100% 81%, 50% 100%, 50% 100%, 0 81%);
}

.nav-items {
  color: var(--nav-items-color);
  cursor: pointer;
  font-size: 1.3rem;
  font-family: "Ubuntu";
}

.brand-name {
  font-family: "Oswald";
  color: var(--nav-items-color);
  font-size: 2rem;
}

.px-10 {
  padding-inline: 90px;
}

.herosection-2 {
  padding-top: 60px;
}

.Im-text-section {
  padding-top: 52px;
  text-align: center;
}

.Im-text {
  font-family: "Ubuntu";
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
}

.name-Im-text {
  color: var(--standout-color);
  font-size: 28px;
}

.Im-text-enthusiastic {
  font-family: sans-serif;
  color: #fff;
  font-size: 2.5rem;
}

.Im-text-subheading {
  font-family: "Open sans";
  color: #fff;
  font-size: 1.4rem;
}

/* buttons */

.btn-hire-me {
  font-size: 1.3rem;
  font-family: Ubuntu;
  color: #fff;
  background: transparent;
  border-radius: 25px;
  margin-inline: 12px;
  padding: 5px 40px;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
  animation: Anim 1s ease-in-out infinite;
}

.btn-hire-me:hover {
  transform: translateY(-5px);
  background-color: var(--standout-color);
  color: #1c1c1c;
}

.btn-get-resume {
  font-size: 1.3rem;
  font-family: Ubuntu;
  color: #000000;
  background: #fff;
  border-radius: 25px;
  margin-inline: 12px;
  padding: 5px 40px;
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
}

.btn-get-resume:hover {
  transform: translateY(-5px);
}

@keyframes Anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* for Image */

.custom-img {
  width: 300px;
  border-radius: 50%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
  border: 1px solid white;
}

/* About me section */

.about-me-text {
  font-family: Ubuntu;
  font-weight: 800;
  font-size: 3.5rem;
  text-decoration: underline;
  letter-spacing: 2px;
  text-align: center;
}

.why-text-sub {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 1.3rem;
  opacity: 0.8;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 15px;
}

/* to make box 70% and center */

.aboutme-inside {
  width: 70%;
  margin-inline: auto;
}

.some-text-about-me {
  font-family: Ubuntu;
  font-weight: 600;
  font-size: 1.2rem;
  opacity: 0.8;
  text-align: justify;
}

.few-highlights {
  font-family: Ubuntu;
  padding-top: 12px;
}

.few-text {
  font-family: Ubuntu;
  font-weight: 900;
  font-size: 1.5rem;
  opacity: 0.8;
}

.few-list {
  font-family: Ubuntu;
  font-size: 1.2rem;
}

/* Resume Section--------------------------------------- */

.resume-options-items {
  width: 1%;
  transition: all 0.3s ease-in-out;
  padding-block: 24px;
  padding-inline: 24px;
  color: #98dfd6;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.resume-options-items:hover {
  width: 100%;
  background: linear-gradient(
    -90deg,
    var(--primary-app-color),
    var(--secondary-app-color)
  );
  color: rgb(242 246 215);
}

.icons-span {
  margin-block: 24px;
  margin-inline: 24px;
}

.selected {
  background: linear-gradient(
    -45deg,
    var(--primary-app-color),
    var(--secondary-app-color)
  );
  width: 100%;
  color: rgb(242 246 215);
}

.bg-new {
  background: linear-gradient(
    -45deg,
    var(--primary-app-color),
    var(--secondary-app-color)
  );
}

.resume-outer-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--primary-app-color);
  color: #fff;
  clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);
}

.resume-new-section {
  /* background: #fff; */
  box-shadow: 10px 10px 31px 2px;
}

/* Contact------------------------------------------------------------------------------------- section */

.contact-me-part {
  color: #fff;
}

.relative-bg {
  clip-path: polygon(0 5%, 100% 14%, 100% 80%, 0 96%);

  background: linear-gradient(
    -90deg,
    var(--primary-app-color),
    var(--secondary-app-color)
  );
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -4;
}

/* giving classes and changing for mobile views */

.px-9 {
  padding-inline: 90px;
}
.flex-rows {
  flex-direction: row;
  justify-content: space-between;
}
.navbar-option-mobile {
  display: none;
}

/* -------------------------------------Mobile view styling --------------------------------- */

@media all and (max-width: 1137px) {
  /* your content here */

  .card-contact-right {
    width: 90%;
  }
}

@media all and (max-width: 786px) {
  /* your content here */
  .navbar-option-mobile {
    display: block;
    width: 100vw;
    height: 45px;
    position: fixed;
    z-index: 44;
  }

  .flex-rows {
    flex-direction: column;
    justify-content: start;
  }
  .navbar-new {
    position: fixed;
    height: 100vh;
    width: 60vh;
    z-index: 33;
    transform: translateX(-700px);
  }
  .navbar-fixed-new {
    position: fixed;
    height: 100vh;
    width: 50vh;
    z-index: 33;
    /* transform: translateX(-700px) */
  }

  .transition-all {
    transition: all 0.3s ease-in-out;
  }
  .px-9 {
    padding-inline: 0px;
  }
  .px-10 {
    padding-inline: 10px;
  }
  .nav-items {
    padding-block: 20px;
  }
  .brand-name {
    font-size: 1.6rem;
    padding-inline: 22px;
    margin-top: 6px;
  }
  .bars {
    height: 4px;
    width: 40px;
    background: #fff;
    float: right;
    z-index: 33;
    transform: translateY(30px);
  }
  .bars::before {
    display: block;
    position: relative;
    top: 9px;
    content: "";
    color: #fff;
    width: 40px;
    height: 4px;
    background: #fff;
  }

  .bars::after {
    display: block;
    position: relative;
    bottom: 12px;
    content: "";
    color: #fff;
    width: 40px;
    height: 4px;
    background: #fff;
  }

  .Im-text {
    font-size: 1.2rem;
  }
  .name-Im-text {
    font-size: 28px;
  }
  .Im-text-enthusiastic {
    font-size: 2rem;
  }
  .Im-text-subheading {
    font-size: 1.2rem;
  }

  .btn-hire-me {
    font-size: 1rem;
    padding: 5px 8px;
    margin-block: 24px;
  }
  .btn-get-resume {
    font-size: 1rem;
    padding: 5px 8px;
    margin-block: 24px;
  }
  .custom-img {
    border: none;
  }

  .about-me-text {
    font-size: 2.5rem;
  }
  .why-text-sub {
    font-size: 1rem;
  }
  .aboutme-inside {
    width: 85%;
  }
  .lottie-1 {
    width: 500px;
  }

  .university-name {
    font-size: 1rem;
  }
  .university-degree {
    font-size: 0.7rem;
  }
  .resume-new-section {
    width: 100% !important;
  }
  .card-contact-right {
    width: 85%;
  }
  .responform {
    margin-left: 25px !important;
  }
}

@media all and (max-width: 414px) {
  /* your content here */

  .card-contact-right {
    width: 100%;
    padding-right: 54px;
  }
  .responform {
    height: 500px;
    width: 270px;
  }
  .inputrespon {
    height: 44px;
    width: 180px;
  }
  .msgresponse {
    width: 180px;
  }
}
/* @media all and (max-width: 894px) {
    
  } */
@media only screen and (max-width: 894px) and (min-width: 768px) {
  .card-contact-right {
    width: 100%;
  }
  .aamish {
    margin-left: 0px !important;
  }
  /* .inputrespon{
      height: 40px;
      width: 170px;
      
     } */
  /* .card-contact-right {
      width: 100px;
     } */
  /* .msgresponse {
      width: 170px;
     } */
}

@media only screen and (max-width: 809px) and (min-width: 768px) {
  .card-contact-right {
    width: 110%;
  }
}

@media only screen and (max-width: 420px) and (min-width: 300px) {
  .responform {
    margin-left: 0px !important;
  }
  .card-contact-right {
    margin-left: 20px;
  }
}
